body{
    font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px;
}

#frame{
	background-color:white;
	margin-right: 100px;
	margin-left: 100px;
}

.center{
    text-align: center;
}

li{
	display:inline-block;
}


/*Navigation Bar*/
/*#nav{
    background: white;
    background-opacity: 0.75;
    text-align: center;
    vertical-align: center;
    float:center;
}*/

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/*Dropdown Menu for Recipies*/

#primary_nav_wrap
{
    background: white;
    text-align: center;
    vertical-align: center;
    float:center;
    margin: 0px 100px 0px 90px;
    border-bottom: double;
}

#primary_nav_wrap ul
{
    list-style:none;
    position:relative;
    padding:0;
}

#primary_nav_wrap ul a
{
    display:block;
    text-decoration:none;
    line-height:32px;
    padding:0 15px;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
    font-size: 30px;
}

#primary_nav_wrap ul li
{
    position:relative;
    float:center;
    margin:0;
    padding:25px;
    margin: 10px;
    text-align: center;
}

#primary_nav_wrap ul li:hover
{
    color:#f6f6f6;
/*    text-decoration: underline;
*/}

#primary_nav_wrap ul ul
{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0;
}

#primary_nav_wrap ul ul li
{
    float:none;
    width:200px
}

#primary_nav_wrap ul ul a
{
    line-height:120%;
    padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
    top:0;
    left:100%;
}

#primary_nav_wrap ul li:hover > ul
{
    display:block;
    float: left;
    padding: 0;
    margin: 0;
}


#logoimg{
    width:285px;
    height:244px;
    text-align: center;
    padding-top: 0;
    margin-top: 0;
    vertical-align: center;
}

#logo{
    margin: 0;
    padding: 0;
}

/*Content*/

#subtitle{
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;    
    letter-spacing: 1px;
    text-align: center;
    padding: 20px;
    margin: 10px;
}

/*Center Photo*/

.centerphotos{
	margin: 0 auto;
	text-align: center;
    padding: 20px;
}

/*Content Home Page*/

.content{
    padding:20px;
}
/*Scroll*/
#scroller {
    position: relative;
}
#scroller .innerScrollArea {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
#scroller ul {
    padding: 0;
    margin: 0;
    position: relative;
}
#scroller li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    position: absolute;
}
/*Footer*/

.footer{
	background-color: white;
	opacity: .85;
	font-size: 30px;
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	padding: 100px, 150px, 100px, 100px;
	word-spacing:60px;
}

