body{
    font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px;
}

#frame{
	background-color:white;
	margin-right: 100px;
	margin-left: 100px;
}

.center{
    text-align: center;
}

li{
	display:inline-block;
	padding: 10px 5px 10px 5px;
}

/*Title*/

#title{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 20px;
    font-family: 'Amatic SC', cursive;
    word-spacing: 10px;
    letter-spacing: 3px;
    font-size: 60px;
}

#subtitle{
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;    
    letter-spacing: 1px;
}

#logoimg{
    width:425px;
    height:275px;
}

#logo{
    padding:auto 0;
    margin:auto 0;
}

/*Navigation Bar*/

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color:black;
}

a:hover {
    color: grey;
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

/*Dropdown Menu for Recipies (doest stay dropped) http://codepen.io/philhoyt/pen/ujHzd */
#nav ul{
    position:relative;
    float:center;
    margin:20px;
    padding:20px;
    text-align: center;
    font-size: 25px;
    background-color: white;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 3px;
    text-transform: uppercase;
    }
}

#nav ul a{
    display:block;
    text-decoration:none;
    font-weight:700;
    padding:0 15px;
}

#nav ul li{
    position:relative;
    float:center;
    padding:10px;
}

#nav ul ul{
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#fff;
    padding:0;
    opacity: .75;
}

#nav ul ul li{
    float:none;
    width:200px
}

#nav ul ul a{
    line-height:120%;
    padding:10px 15px
}

#nav ul ul ul{
    top:0;
    left:100%
}

#nav ul li:hover > ul{
    display:block
}


/*Center Photo*/

.centerphotos{
	margin: 0 auto;
	text-align: center;
    padding: 20px;
}

/*Content Home Page*/

.content{
    padding:20px;
}

/*Footer*/

.footer{
	background-color: white;
	opacity: .85;
	font-size: 30px;
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
	padding: 100px, 150px, 100px, 100px;
	word-spacing:60px;
}

